body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-sizing: border-box;
  width: 1280px;
}
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin-left: calc(50% - 1200px / 2 - 5px);
  margin-top: 10px;
  padding-top: 15px;
  background: #fff;
}
/* LOGO STYLING */
#logo {
  height: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
#logo_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 15%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: 0.5s;
}
#logo_title {
  animation: neon 1.5s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow: 0 0 10px #f64949, 0 0 20px #f64949, 0 0 30px #f64949,
      0 0 40px #1bf4ff, 0 0 70px #1bf4ff, 0 0 80px #1bf4ff, 0 0 100px #1bf4ff,
      0 0 150px #1bf4ff;
  }
  to {
    text-shadow: 0 0 5px #1bf4ff, 0 0 10px #1bf4ff, 0 0 15px #1bf4ff,
      0 0 20px #ff1b1b, 0 0 35px #ff1b1b, 0 0 40px #ff1b1b, 0 0 50px #ff1b1b,
      0 0 75px #ff1b1b;
  }
}
#logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
}
/* NAVIGATION STYLING */
#nav_menu {
  display: inline-flex;
  height: 27px;
  left: 757px;
  top: 16px;
  padding: 0px;
}
.nav_list {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 17px;
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.nav_list a {
  text-decoration: none;
  transition: 0.5s;
  color: inherit;
}
.nav_list a:visited {
  text-decoration: none;
  color: inherit;
}
.nav_list a:hover {
  margin: 0;
  padding: 5px;
  font-size: 1.4rem;
  text-shadow: 0px 0px 10px #e6b9a8, 5px 5px 20px #e7dcd8;
  transition-timing-function: ease-in;
}
.burger {
  display: none;
}
.nav_list a:active {
  text-decoration: none;
}
#link_active > a {
  border-bottom: 5px solid #f1cdb3;
}
#start-screen-content {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 728px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 40px;
}
/* <<<<<<<<<<MAIN SECTION>>>>>>>>>>>>>>>>>>> */
.pets_container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.pets_content {
  padding: 0px;
  margin: 80px 40px 85px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pets_content h3 {
  padding: 0px;
  margin: 35px auto 10px auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
#slider_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 35px 0px 20px 0px;
}
.slider_card {
  padding: 0px;
  margin: 15px 0px;
}
/* SLIDE CARD ANIMATION */
.slider_card {
  background: #fafafa;
  border-radius: 9px;
}
.slider_card > img {
  padding: 0px;
  border-radius: 9px 9px 0px 0px;
}
.slider_card > p {
  padding: 0px;
  margin-top: 25px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.slider_card img {
  transition: all 1.2s ease-in-out;
}

.slider_card:hover img {
  transform: rotateY(180deg);
}
.slider_card:hover {
  border-radius: 20px;
  background: #b8b6b1da;
}
.btn_learn_more {
  padding: 15px 45px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.5s;
}
.btn_learn_more:hover {
  box-shadow: 0px 15px 20px #5e605f6b;
  color: #fff;
  background: #e6b9a8;
}

.btn_learn_more a {
  text-decoration: none;
  color: inherit;
}

.btn_learn_more a:active {
  text-decoration: none;
}
.btn_learn_more a:visited {
  text-decoration: none;
  color: inherit;
}
/* NAVIGATION_BUTTON SECTION */
.navigation_btns {
  display: flex;
  flex-direction: row;
  width: 340px;
  justify-content: space-between;
  margin: 20px auto;
}
/* ARROW BUTTONS INTERACTIVE */
.btn_arrow {
  padding: 25px 20px;
  width: 52px;
  height: 52px;
  margin: 5px 10px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 1.5rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0px;
  padding: 0px;
  color: #292929;
  background: transparent;
}
.slider_button3 {
  background-color: #e6b9a8;
}
.slider_button1,
.slider_button2 {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}
.btn_arrow:hover {
  background-color: #e6b9a8;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 2px 2px 4px 0 rgba(107, 104, 104, 0.4);
}
/* <<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>> */
footer {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../../assets/images/footer-gradient-background.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}
#footer_contacts {
  padding: 0px;
  margin: 56px 80px 30px 40px;
}
#footer_location {
  padding: 0px;
  margin: 56px 80px 30px 80px;
}
#footer_img {
  padding: 0px;
  margin: 40px 40px 0px 80px;
}
footer h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}
footer h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
footer a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
#footer_contacts a {
  margin: 20px 0px;
}
#footer_location a {
  margin: 0px 0px;
}
.footer_info {
  padding: 0px;
  margin: 0px;
  display: block;
}
.footer_icons img {
  padding: 0px;
  margin: 15px 10px 15px 0px;
  margin-right: 10px;
}
.footer_icons h4 {
  margin: 20px 0px 20px 10px;
}
/*<<<<<<<<<<< MEDIA QUERIES>>>>>>>>>>>>*/
@media (max-width: 1270px) {
  html {
    min-width: 768px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    width: 100vw;
  }
  #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    max-width: 90vw;
  }
  /* LOGO STYLING */
  #logo {
    margin: 0px;
    padding: 0px;
  }
  #logo_title {
    font-size: 2rem;
  }
  #logo_subtitle {
    font-size: 0.9rem;
    color: #5e5858;
  }
  /* NAVIGATION STYLING */
  #nav_menu {
    display: flex;
    padding: 16px 0px;
  }
  .nav_list {
    font-size: 1rem;
    padding-top: 0px;
  }
  .nav_list a:hover {
    padding: 0px;
    font-size: 1.1rem;
  }

  .nav_list a:active {
    text-decoration: none;
  }
  /* <<<<<<<<<<MAIN SECTION>>>>>>>>>>>>>>>>>>> */
  .pets_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .pets_content {
    padding: 0px;
    margin: 60px 30px 70px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .pets_content h3 {
    padding: 0px;
    margin: 20px auto 30px auto;
    font-size: 2rem;
    text-align: center;
  }
  #slider_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
  }
  .slider_card {
    padding: 0px;
    margin: 10px;
    background: #fafafa;
    border-radius: 9px;
    width: 30vw;
  }
  .slider_card:nth-child(7) {
    display: none;
  }
  .slider_card:nth-child(8) {
    display: none;
  }
  /* SLIDE CARD ANIMATION */
  .slider_card > img {
    width: 100%;
    padding: 0px;
    border-radius: 9px 9px 0px 0px;
  }
  /* <<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>> */
  footer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
  }
  #footer_contacts {
    padding: 0px;
    margin: 30px 30px 65px 65px;
    flex: 2;
  }
  #footer_location {
    flex: 2;
    padding: 0px;
    margin: 30px 65px 65px 30px;
  }
  #footer_img {
    flex: 1 1 60%;
    padding: 0px;
    margin: 0px;
  }
  #footer_img img {
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media (max-width: 767px) {
  html {
    width: 100%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    min-width: 320px;
  }
  body {
    width: 100%;
  }
  #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 50px 30px 10px;
  }
  /* LOGO STYLING */
  #logo {
    margin: 0px;
    padding: 0px;
  }
  #logo_title {
    font-size: 2rem;
  }
  #logo_subtitle {
    font-size: 0.9rem;
    color: #5e5858;
  }
  /* NAVIGATION STYLING */
  #nav_menu {
    display: none;
  }
  .burger {
    margin: 5px 20px 5px 5px;
    padding: 5px;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
  }
  .burger:hover {
    font-size: 1.2rem;
    /* animation: neon 1.5s ease-in-out infinite alternate; */
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }
  /* <<<<<<<<<<MAIN SECTION>>>>>>>>>>>>>>>>>>> */
  .pets_container {
    width: 92%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 42px 10px;
  }
  .pets_content {
    padding: 0px;
    margin: 60px 30px 70px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .pets_content h3 {
    padding: 0px;
    margin: 20px auto 30px auto;
    font-size: 2rem;
    text-align: center;
  }
  #slider_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0px;
    margin: 0px;
  }
  .slider_card {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #fafafa;
    border-radius: 9px;
  }
  /* .slider_card:nth-child(7) {
    display: none;
  }
  .slider_card:nth-child(8) {
    display: none;
  } */
  .slider_card:nth-child(6) {
    display: none;
  }
  .slider_card:nth-child(5) {
    display: none;
  }
  .slider_card:nth-child(4) {
    display: none;
  }
  /* SLIDE CARD ANIMATION */
  .slider_card > img {
    width: 100%;
    padding: 0px;
    border-radius: 9px 9px 0px 0px;
  }
  .navigation_btns {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    margin: 10px;
  }
  /* ARROW BUTTONS INTERACTIVE */
  .btn_arrow {
    padding: 1rem;
    width: 40px;
    height: 40px;
    margin: 0.3rem;
    font-size: 1rem;
    line-height: 40%;
    text-align: start;
    letter-spacing: 0.1em;
  }
  .btn_arrow span {
    display: inline;
    position: relative;
    left: -5px;
    padding: 0px;
    margin: 0px;
  }
  .slider_button3 {
    background-color: #e6b9a8;
  }
  .slider_button1,
  .slider_button2 {
    border: 2px solid #cdcdcd;
    color: #cdcdcd;
  }
  .btn_learn_more {
    height: 3rem;
    margin: 0px 20px 30px 20px;
    border-radius: 100px;
    font-size: 1rem;
  }
  /* <<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>> */
  footer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
  }
  #footer_contacts {
    padding: 0px;
    margin: 30px 20px 40px 20px;
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer_location {
    flex: 2;
    padding: 0px;
    margin: 0px 20px 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer_img {
    flex: 1 1 60%;
    padding: 0px;
    margin: 0px;
  }
  #footer_img img {
    width: 75vw;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
    /* margin-right: 25%; */
  }
}
